{% extends "default.html" %}
{% block title %}Create a query{% endblock %}

{% block nav %}{% include 'query-nav.html' %}{% endblock %}

{% block content %}

<form method="post" action="{{url_for('queries.route_create')}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Add a new YARA or UefiAnalyzer query</h2>
    <div class="form-group">
      <textarea class="form-control" name="value" value="" placeholder="rule FooBarBaz {
      # X-Volume-GUIDs: dcd13040-23d8-41c6-b8f5-22281a0d64e8" rows=15" required></textarea>
      <select class="form-control mt-3" name="kind">
        <option value="yara" selected>YARA</option>
        <option value="uefi_r2">UefiAnalyzer</option>
        </option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Add">
  </div>
</div>
</form>

<div class="alert alert-warning mt-3" role="alert">
  Each query takes about <strong>2 hours</strong> so please be patient.
  Queries made here are visible to yourself and also the LVFS admin team.
</div>

{% endblock %}

