{% extends "default.html" %}
{% block title %}Protocol Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Protocol Details</h2>
<form method="post" action="{{url_for('protocols.route_modify', protocol_id=protocol.protocol_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="value">Value:</label>
    <input type="text" class="form-control" id="value" name="value" value="{{protocol.value}}" required />
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{protocol.name if protocol.name}}" required />
  </div>
  <div class="form-group">
    <label for="fallback_id">Icon:</label>
    <select class="form-control" name="icon">
      <option value="" {{ 'selected' if not protocol.icon }}>none</option>
{% for icon in icons %}
      <option value="{{icon}}" {{ 'selected' if protocol.icon == icon }}>
        {{ icon}}
      </option>
{% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="verfmt_id">Version Format:</label>
    <select class="form-control" id="verfmt_id" name="verfmt_id">
      <option value="0" {{ 'selected' if protocol.verfmt_id == 0 }}>no restriction</option>
{% for verfmt in verfmts %}
      <option value="{{verfmt.verfmt_id}}" {{ 'selected' if protocol.verfmt_id == verfmt.verfmt_id }}>{{verfmt.value}}</option>
{% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="is_public">
      <input class="checkbox" type="checkbox" id="is_public" name="is_public" value="1" {{'checked' if protocol.is_public}} />
      Firmware protocol is public
    </label>
  </div>
  <div class="form-group">
    <label for="is_signed">
      <input class="checkbox" type="checkbox" id="is_signed" name="is_signed" value="1" {{'checked' if protocol.is_signed}} />
      Cryptographically signed images or transfer, e.g. GPG, PKCS-7, X509
    </label>
  </div>
  <div class="form-group">
    <label for="is_transport">
      <input class="checkbox" type="checkbox" id="is_transport" name="is_transport" value="1" {{'checked' if protocol.is_transport}} />
      Is only a generic transport, which can transport a signed or unsigned firmware payload.
    </label>
  </div>
  <div class="form-group">
    <label for="can_verify">
      <input class="checkbox" type="checkbox" id="can_verify" name="can_verify" value="1" {{'checked' if protocol.can_verify}} />
      Can verify checksum on device
    </label>
  </div>
  <div class="form-group">
    <label for="has_header">
      <input class="checkbox" type="checkbox" id="has_header" name="has_header" value="1" {{'checked' if protocol.has_header}} />
      Has header or footer requirement that can be tested, e.g. <code>CAPSULE_HEADER</code> or <code>UFD</code>
    </label>
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Protocol?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, protocols can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('protocols.route_delete', protocol_id=protocol.protocol_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
