{% extends "default.html" %}
{% block title %}User List{% endblock %}

{% block nav %}{% include 'userlist-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      Userlist
{% if acl %}
      with ACL &lsquo;{{acl}}&rsquo;
{% endif %}
    </h2>
{% if users|length > 0 %}
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col col-sm-3">Username</th>
    <th class="col col-sm-3">Name</th>
    <th class="col col-sm-2">Subgroup</th>
    <th class="col col-sm-2">Vendor</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% for u in users %}
  <!-- user_id={{u.user_id}} -->
  <tr class="row">
    <td class="col col-sm-3">{{u.username}}</td>
    <td class="col col-sm-3">{{u.display_name}}</td>
    <td class="col col-sm-2">{{u.subgroup if u.subgroup else '—'}}</td>
    <td class="col col-sm-2">{{u.vendor.group_id}}</td>
    <td class="col col-sm-2">
      <a class="btn btn-info btn-block"
        href="{{url_for('users.route_admin', user_id=u.user_id)}}">Details</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
  </div>
</div>

{% if not acl %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new user</h2>
<form method="post" action="{{url_for('users.route_create')}}" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="email" class="form-control" id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="password_new">Password:</label>
    <input type="password" class="form-control" id="password_new" name="password_new" required>
    <p class="text-secondary">
      A good password consists of upper and lower case with numbers.
    </p>
  </div>
  <div class="form-group">
    <label for="display_name">Display Name:</label>
    <input type="text" class="form-control" id="display_name" name="display_name" required>
  </div>
  <div class="form-group">
    <label for="group_id">Group:</label>
    <input type="text" class="form-control" id="group_id" name="group_id" required>
  </div>
  <input class="btn btn-primary" type="submit" value="Add">
</form>
  </div>
</div>
{% endif %}

{% endblock %}
